name: "cache shell"
on:
  workflow_dispatch:
  push:
    paths:
      - flake.nix
      - flake.lock
      - .github/workflows/cache_shell.yml

jobs:
    cache:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6
        - uses: DeterminateSystems/nix-installer-action@v21
        - uses: cachix/cachix-action@v16
          with:
            name: starrfox
            authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        - run: nix develop
