name: "cache shell"
on:
  workflow_dispatch:
  push:
    paths:
      - flake.nix
      - flake.lock

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: DeterminateSystems/nix-installer-action@v9
        - uses: cachix/cachix-action@v13
          with:
            name: starrfox
            authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        - run: nix develop
