name: "check flake"

on:
    pull_request:
    push:
        branches: [main]

jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: DeterminateSystems/nix-installer-action@v9
        - uses: DeterminateSystems/magic-nix-cache-action@v2
        - uses: cachix/cachix-action@v13
          with:
            name: starrfox
            authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        - name: check flake
          run: nix flake check
