on:
    pull_request:
    push:
        branches: [main]

jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - name: Install Nix
          uses: DeterminateSystems/nix-installer-action@main
        - uses: cachix/cachix-action@v12
          with:
            name: starrfox
            authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        - name: check flake
          run: nix flake check
